input {
    height: 40px;
    border: 1px solid #707070;
    border-radius: 0px;
    font-family: 'Ubuntu';
    font-size: 17px;
    padding-left: 17px;
    color: #111111;
}

input::placeholder {
    color: #BBBBBB;
}

input:focus {
    border: 1px solid #FF9B00;
}